# session 3

In [1]:
s1={1,2,2,22,33,3,4,4,5,5,5,5,6,6,}

In [2]:
s1

{1, 2, 3, 4, 5, 6, 22, 33}

In [1]:
# calculate interest 
# interest=(prt)/100

In [5]:
# defining a function
def calculate_interest(p, r, t):
    # calculate interest
    interest=(p*r*t)/100
    print("The interest is:", interest)

In [6]:
# create a function for printing table of any number

def print_table(num):
    print(f"\nMultiplication Table of {num}:")
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

# Example usage
print_table(7)

Multiplication Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# 'args=This will act like a tuple inside a fuction
# used for accepting multiple parameter in one argument

In [15]:
ef information(*lst):
    print(f"values:{lst}")
    print(f"type:{type(lst)}")
    for i in lst:
        print(i)

SyntaxError: invalid syntax (2520550953.py, line 1)

In [8]:
# return multiplication of a number
# 2,4,6,3=144

In [9]:
def return_multiplication(*args):
    m=1
    for i in args:
        m=m*i
        return m

In [13]:
def information(*lst):
    print(f"values:{lst}")
    print(f"type:{type(lst)}")
    for i in lst:
        print(i)

In [25]:
cart=[
    ("laptop",35000,1),
     ("keyboard",6000,2),
    ("mouse",200,5),
    ("mouse pad",100,10),
]

In [23]:
def print_info(*args):
    total_price=0
    # print information
    for name,price,qty in args:
        print(f"name:{name},price:{price},quantity:{qty}")
        print("---------------------------")
        total_price=total_price+price
    return f"total price={total_price}"

In [26]:
print_info(*cart)

name:laptop,price:35000,quantity:1
---------------------------
name:keyboard,price:6000,quantity:2
---------------------------
name:mouse,price:200,quantity:5
---------------------------
name:mouse pad,price:100,quantity:10
---------------------------

'total price=41300'

In [36]:
cart=[
    ('smith',20,20000),
    ('Avdhut',99,30000),
    ('sujit',22,40000),
    ('rohan',23,50000)
]

In [37]:
def emp_info(*args):
    total_salary=0
    # print infomation of employee
    for name,age,salary in args:
        print(f'Name:{name},age:{age},salary:{salary}')
        print('__________________________________________')
        total_salary=total_salary+salary
    return f'Total salary is : {total_salary}'

In [38]:
emp_info(*cart)

Name:smith,age:20,salary:20000
__________________________________________
Name:Avdhut,age:99,salary:30000
__________________________________________
Name:sujit,age:22,salary:40000
__________________________________________
Name:rohan,age:23,salary:50000
__________________________________________

'Total salary is : 140000'

In [39]:
def display (**kwargs):
    print(f"values:{kawargs}")
    for key,value in kawargs.items():
        print(f"key={key}\nvalue={value}")

In [44]:
# lambda function =used for small calculation

In [45]:
add=lambda a,b,c:a+b

In [47]:
add = lambda a, b: a + b
print(add(5, 7))

12

In [48]:
sq = lambda x: x * x
print(sq(5))

25

In [49]:
cube = lambda x: x ** 3
print(cube(5))

125

In [50]:
add = lambda a, b, c: a + b + c
print(add(10, 20, 30))

60

In [51]:
div = lambda a, b: a / b
print(div(10, 2))

5.0