Session 2

- two types of function
- 1) pre-defined function
- 2) user defined function

In [1]:
len("ETLHIVE")

7

user defined function

In [4]:
def print_table(n):
    for i in range(1,11):
        print(n*i)

In [5]:
print_table(8)

8
16
24
32
40
48
56
64
72
80

In [16]:
# def function_name parameter list):
# logical part

In [17]:
# defining # function 
def greet():
    print("welcome to ETLHIVE")

In [18]:
# function with parameter 
def greetl(name):
    print(f"welcome to ETLHIVE{name}")

In [19]:
# calling 
greetl("vishal")

welcome to ETLHIVEvishal

In [21]:
greetl("smith")

welcome to ETLHIVEsmith

In [7]:
lst=[3,5,7,8,9,23,23,45,67]

In [8]:
lst = [3, 5, 7, 8, 9, 23, 45, 67]
print("Squares of values:")
for num in lst:
    print(f"{num}^2 = {num**2}")

Squares of values:
3^2 = 9
5^2 = 25
7^2 = 49
8^2 = 64
9^2 = 81
23^2 = 529
45^2 = 2025
67^2 = 4489

In [11]:
def print_square(l):
    for i in l:
        print(i*i)

In [12]:
print_square(lst)

9
25
49
64
81
529
2025
4489

In [13]:
def cal_cube(n):
    print(f"cube of a number{n} is {n*n*n}")

In [14]:
# calling a function 
cal_cube(4)

cube of a number4 is 64

In [15]:
cal_cube(9)

cube of a number9 is 729

In [24]:
def mul(a,b):
    print(f"multiplication",{a*b})

In [25]:
mul(30,45)

multiplication {1350}

In [27]:
lst=[1,2,3,4,5]

In [28]:
def list_sum(lst):
    total = 0
    for num in lst:
        total += num
    return total

lst = [1, 2, 3, 4, 5]
print("Sum of list:", list_sum(lst))

Sum of list: 15

In [29]:
def list_product(lst):
    product = 1  
    for num in lst:
        product *= num
    return product


lst = [1, 2, 3, 4, 5]
print("Product of list:", list_product(lst))

Product of list: 120

In [30]:
 # (AC)^ 2=(AB)^2+(BC)^2
 # c^2=a^2+b^2
 # c=(a^2+b^2)^0.5
 # 4,5

In [31]:
import math

def hypotenuse(a, b):
    return math.sqrt(a**2 + b**2)

a = 4
b = 5
print("Hypotenuse:", hypotenuse(a, b))

Hypotenuse: 6.4031242374328485

In [ ]:
import math

def triangle_type(a, b, c):
    if (a + b <= c) or (a + c <= b) or (b + c <= a):
        return "Not a valid triangle"
    
    if a == b == c:
        return "Equilateral triangle"
    
    elif a == b or b == c or a == c:
        return "Isosceles triangle"
    
    sides = sorted([a, b, c]) 
    if math.isclose(sides[2]**2, sides[0]**2 + sides[1]**2):
        return "Right-angled triangle"
    
    else:
        return "Scalene triangle"


print(triangle_type(3, 4, 5))   # Right-angled
print(triangle_type(5, 5, 5))   # Equilateral
print(triangle_type(5, 5, 8))   # Isosceles
print(triangle_type(7, 8, 9))   # Scalene
print(triangle_type(1, 2, 3))   # Not a valid triangle

Right-angled triangle
Equilateral triangle
Isosceles triangle
Scalene triangle
Not a valid triangle

In [5]:
import math

def triangle_area(a, b, c):
    if (a + b <= c) or (a + c <= b) or (b + c <= a):
        return "Not a valid triangle"
    
    s = (a + b + c) / 2 
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return area

print("Area:", triangle_area(3, 4, 5))
print("Area:", triangle_area(7, 8, 9))
print("Area:", triangle_area(2, 3, 10))

Area: 6.0
Area: 26.832815729997478
Area: Not a valid triangle