# *args,**kwargs

In [3]:
# calculate area of rectangle

In [5]:
def area_of_rect_(l,b):
    aor=l*b
    print("area pof rectangle",aor)

In [7]:
# sum of all values present in a parameter

In [17]:
def cal_sum(*args): #(2,3,4)
    sum=0
    for i in args:
        sum=sum+i # sum=0+2+3=5=4=9
    return f"sum of all values={sum}"

In [18]:
cal_sum(2,3,4)

'sum of all values=9'

In [13]:
lst=[4,5,7,10,20,30,40,50]

In [19]:
# list unpacking
cal_sum(*lst)

'sum of all values=166'

In [2]:
# **kwargs

In [20]:
def display_data(**kwargs): #{"key":"values"}
    print(f"values: {kwargs}")

In [21]:
display_data (name="prashant",age=21,salary=20000)

values: {'name': 'prashant', 'age': 21, 'salary': 20000}

In [22]:
menu={
    "pizza":250,
    "maggie":50,
    "burger":70,
}

In [26]:


print("Pizza =", menu["pizza"])
print("Maggie =", menu["maggie"])
print("Burger =", menu["burger"])

total = sum(menu.values())
print("Total =", total)

Pizza = 250
Maggie = 50
Burger = 70
Total = 370

In [27]:
menu.values()

dict_values([250, 50, 70])

In [28]:
menu.get("pizza")

250

In [29]:
menu.get("maggie")

50

In [30]:
menu.get("burger")

70

In [31]:
total = sum(menu.values())
print("Total =", total)

Total = 370

In [48]:
menu = {
    "pizza": 250,
    "maggie": 50,
    "burger": 70,
    "tea":20,
    "coffee":50
}

quantity = {
    "pizza": 2,
    "maggie": 3,
    "burger": 1,
    "coffee": 3,
}

menu["coffee"] = 80

total = 0
for item in quantity:
    price = menu.get(item, 0)
    qty = quantity[item]
    total += price * qty
    print(f"{item.capitalize()} = ₹{price} × {qty} = ₹{price * qty}")

print("-------------")
print(f"Total Bill = ₹{total}")

Pizza = ₹250 × 2 = ₹500
Maggie = ₹50 × 3 = ₹150
Burger = ₹70 × 1 = ₹70
Coffee = ₹80 × 3 = ₹240
-------------
Total Bill = ₹960

# Performing Billing For a Resturant

In [49]:
def resturant_billing(**kwargs):
    bill=0
    for food,qty in kwargs.items():
        amt=menu.get(food)*qty
        bill=bill+amt
        print(f"food:{food},quantity:{qty},amount:{amt}")
    return f"total bill={bill}"

In [50]:
resturant_billing(burger=2,coffee=3,tea=3)

food:burger,quantity:2,amount:140
food:coffee,quantity:3,amount:240
food:tea,quantity:3,amount:60

'total bill=440'

# Generator Function

In [51]:
# 0,1,1,2,3,5,8,13,21

In [52]:
# while
# 1;initiallisation
# 1;condition checking
# 3;increment / decrement 
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [53]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1

In [54]:
sum
# print table of any number using while loop

55

In [62]:
num = int(input("Enter a number: "))

i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
def fabb_number():
a,b=0,1
while True:
    yield a
    a,b=b,a+b
    a=0,b=1